@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-weight: 400;
}

:root{
    --red-milfshakes: rgb(239,20,33);
    --rojo-oscuro: rgb(183,5,5);
    --white-shake: #f3f3f3;
}

main{
    background-color: rgb(22, 22, 22);
    height: 100vh;
}
