.boosterSection{
    background-color: var(--red-milfshakes);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px 4px;
    justify-content: space-evenly;
    align-content: flex-start;
    grid-area: 2/3/3/4;
}

