.boosterSection{
    background-color: var(--red-milfshakes);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 4px;
    padding: 10px 4px;
    justify-content: space-evenly;
}

