.boosterButton{
    height: 80px;
    width: 80px;
    position: relative;

    & .show{
        display: inline-block;
    }

    & .message{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 90%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        background: rgba(116, 11, 11);
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
        white-space: nowrap;
        display: none;

        & .batidoCoin{
            margin-left: 5px;
        }
    }

    &:hover .message{
        display: inline-block;
    }
}


.buttonActive{
    filter: grayscale(1);
}

.buttonInactive{
    filter: grayscale(0);
}