.boosterButton{
    height: 80px;
    width: 80px;
    position: relative;

    & .show{
        display: inline-block;
    }

    & .mensage{
        position: absolute;
        top: 90%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        background: rgba(116, 11, 11);
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
        white-space: nowrap;
        display: none;

        & .costImg{
            height: 15px;
            width: 15px;
            margin-left: 5px;
        }
    }
}

.boosterButton:hover .mensage{
    display: inline-block;
}

.shopItem{
    height: 70px;
    width: 70px;
    border: none;
    background-color: var(--rojo-oscuro)
}

.buttonActive{
    filter: grayscale(1);
}

.buttonInactive{
    filter: grayscale(0);
}